body {
    background-color:#0af21d;
    
  
    
        
    

}

h2 {
    color: #000700;
}

figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



